@using Microsoft.AspNetCore.Http;
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Sklep komputerowy lamonski.pl</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/ClientPortal.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">  @await Component.InvokeAsync("PageContentViewComponent", new { type = "LogoButton" })   </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>
        </nav>
    </header>
    

    <div class="container-fluid text-center mb-3 mt-3">
        <div class="row">
            <div class="col">
                <nav class="container navbar navbar-expand-sm navbar-light bg-light flex-column">
                    <div class="navbar-collapse collapse" id="navbarNav">
                        <ul class="navbar-nav flex-column">
                            <li class="nav-item dropdown">
                                <a class="nav-link text-dark dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Kategorie
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <a class="dropdown-item nav-link text-dark" asp-area="" asp-controller="Categories" asp-action="Items" asp-route-category="1">Komputery stacjonarne</a>
                                    <a class="dropdown-item nav-link text-dark" asp-area="" asp-controller="Categories" asp-action="Items" asp-route-category="3">Router</a>
                                    <a class="dropdown-item nav-link text-dark" asp-area="" asp-controller="Categories" asp-action="Items" asp-route-category="5">Laptopy</a>
                                </div>
                            </li>
                            @if (Context.Request.Cookies.TryGetValue("email", out string email))
                            {
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-route-id="@email" asp-controller="ShoppingCart" asp-action="Index">
                                        <span class="navbar-brand">@await Component.InvokeAsync("PageContentViewComponent", new { type = "ShoppingCartButton" })</span>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Order" asp-route-email="@email" asp-action="Index">
                                        <span class="navbar-brand">@Html.Raw(email)</span>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="User" asp-action="Logout">
                                        <span class="navbar-brand">@await Component.InvokeAsync("PageContentViewComponent", new { type = "LogoutButton" })</span>
                                    </a>
                                </li>
                            }
                            else
                            {
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="User" asp-action="Login">
                                        <span class="navbar-brand">Zaloguj</span>
                                    </a>
                                </li>
                            }

                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="AboutUS"><span class="navbar-brand">
                                    <span class="navbar-brand">
                                        O nas
                                    </span>
                                </a>
                            </li>
                            
                        </ul>
                    </div>
                </nav>
            </div>
            <div class="col-lg-10">
                <div class="container px-4 px-lg-5 align-content-center">
                    @RenderBody()
                </div>
            </div>
        </div>
    </div>





    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>


<script>
    document.addEventListener('DOMContentLoaded', function () {
        var dropdowns = document.querySelectorAll('.dropdown-toggle');
        dropdowns.forEach(function (dropdown) {
            dropdown.addEventListener('mouseover', function () {
                var menu = this.nextElementSibling;
                menu.classList.add('show');
            });

            dropdown.addEventListener('mouseout', function () {
                var menu = this.nextElementSibling;
                menu.classList.remove('show');
            });

            var menu = dropdown.nextElementSibling;
            menu.addEventListener('mouseover', function () {
                this.classList.add('show');
            });

            menu.addEventListener('mouseout', function () {
                this.classList.remove('show');
            });
        });
    });
</script>
