@model IEnumerable<Data.SelectVMs.StockVM>

@{
    ViewData["Title"] = "Index";
}

<h1>Stan na magazynie</h1>

<p>
    <a class="card-body" asp-action="Create"><button type="button" class="btn btn-primary">Dodaj nowe</button></a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                ID
            </th>
            <th>
                Towar
            </th>
            <th>
                Stan na magazynie
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Item)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
            <td>
                    <a class="card-body" asp-area="" asp-controller="Stock" asp-action="Edit" asp-route-id="@item.Id"><button type="button" class="btn btn-primary">Edytuj</button></a>
                    <a class="card-body" asp-area="" asp-controller="Stock" asp-action="Delete" asp-route-id="@item.Id"><button type="button" class="btn btn-primary">Usuń</button></a>

            </td>
        </tr>
}
    </tbody>
</table>
